[submodule "hero-engine"]
	path = hero-engine
	url = https://github.com/VxRackNeutrino/hero-engine.git
[submodule "hero-web"]
	path = hero-web
	url = https://github.com/VxRackNeutrino/hero-web.git
[submodule "hero-db"]
	path = hero-db
	url = https://github.com/VxRackNeutrino/hero-db.git
