{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% block form %}
        {% bootstrap_form wizard.form %}
        {% endblock %}

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">Back</button>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
{% endblock %}