{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>Tutorial</h2>
    <hr class="col-md-12">

    <p>VxRack Neutrino nodes is a turnkey multi-service cloud appliance that provides an open source platform for cloud native applications. It delivers web-scale, self-scaling, self-resilient application infrastructure for a secure, elastic private cloud.</p>

    <p>In this tutorial, you will:</p>

    <ul>
      <li>Get to know the Neutrino UI</li>
      <li>Access OpenStack and perform a simple operation</li>
      <li>Explore some of the reports that come out of the box, including Performance, Utilization, Inventory, Alerts and Logs</li>
    </ul>

    <hr class="col-md-12">

    <h3>Step 1: Getting to know the Neutrino UI</h3>

    <p>Once you receive the registration email with your credentials and the login URL, go ahead and log into Neutrino.</p>

    <img src="{% static 'img/tutorial/neutrino-login.png' %}">

    <h4>Explore the Neutrino dashboard</h4>

    <p>The Dashboard displays the overall VxRack Neutrino system status. Each tile displays a certain aspect of the VxRack Neutrino system. This view provides a quick read-only overview of the health, cloud compute, and storage resources in the VxRack Neutrino system.</p>

    <p>The Dashboard is divided into six tiles:</p>

    <ol>
      <li>Health - provides health status information on the VxRack Neutrino infrastructure (nodes, disks, networks, storage) and software services (Platform and Cloud Compute).</li>
      <li>Node Allocation - a donut chart displays the used and unallocated (unused) nodes in the VxRack Neutrino system using colored segments.</li>
      <li>System - displays information about the installed version, the aggregate memory of all the nodes and the aggregate block storage capacity of all the nodes in the VxRack Neutrino system.</li>
      <li>Alerts - lists notifications for VxRack Neutrino system components that may require the Cloud Administrator's attention. Each alert listed contains a brief message description, timestamp, and severity.</li>
      <li>Cloud Compute Service - provides information on the OpenStack environment: Instances (Virtual Machines), vCPUs, Memory and Storage</li>
      <li>Storage - provides information on block storage capacity use for cloud compute purposes via a donut chart and IOPs/bandwidth information for the block storage system via a dynamic graph</li>
    </ol>

    <p>--- DASHBOARD HERE ---</p>


    <hr class="col-md-12">

    <h3>Step 2: Access OpenStack</h3>

    <p>...</p>

    <hr class="col-md-12">

    <h3>Step 3: Explore the reports</h3>

    <p>...</p>


{% endblock %}
